# Database
DATABASE_URL="postgresql://username:password@localhost:5432/integrity_checker"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Auth Secret (NextAuth v5)
AUTH_SECRET="your-auth-secret-here-generate-with-openssl-rand-base64-32"
